<a href class="delete-photo">x</a>
<a href="/photo/<%=photo.id %>" class="individual-page">O</a>
<li><img class="album_image" src="<%= photo.path %>"></li>
<form action="/photo/<%=photo.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="DELETE">
</form>
