<%if @photo.try(:errors) %>
  <div></div>h3>
<% end %>
<div class="form-group"><% if flash[:error] != nil %>
  <%= flash[:error] %>
<% end  %></div>
<% if current_user %>
<div class="HUh">
  <form class="new-photo-form" action="/photo"  enctype="multipart/form-data" method="POST">
    <input name="album_id" value="<%= params[:id] %>" type="hidden">
    <input type="file" name="path" class="choose_file" >
    <button type="submit" class="btn btn-info image_upload">Upload</button>
  </form>
</div>
  <div class="photos">
    <% @album.photos.each do |photo| %>
    <%= erb :'albums/_photo', layout: false, :locals=>{photo: photo} %>
  <% end %>
<% end %>
</div>

