
<h1> This is your picture</h1>
<div class="form-group">
  <ul>
    <img class="album_image" src="<%= @display_photo %>">
  </ul>
</div>
<ul>
  <a href="/send_sms/photo/<%= @photo.id %>">Send it buddy</a>
</ul>