

<h1>Twilio Sender</h1>

<form action="/send_sms" method= "POST">
  <!-- <input type="text" name="number" placeholder="Number"> -->
  <input type="text" name="message" placeholder="Your message">
  <input type="file" name="path" class="choose_file" >
  <button type="submit">Submit</button>
</form>